* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.bg {
  width: 100%;
}

.photo {
  background-image: url(../Pictures/33jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.photo h1 {
  text-align: center;
  font-size: 124px;
  font-weight: 600;
  transition: 0.5s;
  -webkit-text-stroke: 2px #050362;
  color: #fff;
  position: relative;
  top: 140px;
}
.photo h1:hover {
  -webkit-text-stroke: 2px #1be596;
  color: transparent;
}
section .leftBox1 .content1 {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
  margin-bottom: -12px;
}

section .leftBox1 .content1:hover {
  background: #1be596;
}

section .leftBox1 .content1 h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

section .leftBox1 .content1 p {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}

.container {
  margin: 40px 40px;
}
.p{
    width: 600px;
    padding: 20px;
}
.p br{
    display: none;
}
@media only screen and (max-width: 375px) {
    .photo h1 {
        text-align: center;
        font-size: 68px;
        font-weight: 600;
        transition: 0.5s;
        -webkit-text-stroke: 2px #050362;
        color: #fff;
        position: relative;
        top: 140px;
      }
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
        width: 350px;
      }
      .container {
        margin: 40px 0px;
      }
      .p{
        width: 200px;
        padding: 20px;
    }
    .p p{
        width: 500px;
    }
    .p br{
        display: inline;
    }
}



